body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("https://media.istockphoto.com/photos/green-poker-background-picture-id453187915?k=20&m=453187915&s=612x612&w=0&h=yDGWRSaErS7B6MPaJ8g9PyaH0JqwGk4IfwnKpnsNYEQ=");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 50px;
    margin-bottom: 65px;
}

#message-el {
    font-size: 20px;
    font-style: italic;
}

#cards-el {
    font-size: 20px;
}

#sum-el {
    font-size: 20px;
}    

button {
    color: #016f32;
    width: 250px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-top: 6px;
    height: 45px;
}

#player-el {
    font-size: 20px;
}
